# Dipendenze
node_modules/
 
# Variabili d'ambiente (contiene token e segreti!)
.env
 
# Token Spotify salvati degli utenti (dati sensibili!)
tokens.json

# Token Spotify salvati degli utenti (dati sensibili!)
scores.json
 
# Log
logs/
*.log
npm-debug.log*
 
# Sistema operativo
.DS_Store
Thumbs.db

AURA.md
AURA2.md
AURA3.md
AURA4.md
AURA5.md
AURA6.md
AURA7.md